:root {
  --pri-c: #654a4e;
  --pri-c--hov: #916a70;
  --sec-c: #e6dcdd;

  --white-c: #f8f5f5;
  --white-c--hov: #e6dcdd;;
  
  --caution-c: #ff1f54;
  --caution-c-bg: #ffebf0;

  --easing-a: cubic-bezier(.77, 0, .18, 1);
  --easing-b: cubic-bezier(.19,1,.22,1);
  --easing-c: cubic-bezier(.165, .84, .44, 1);

  --radius-s: 4px;
  --radius-m: 8PX;
  --radius-l: 12px;
  --radius-xl: 16px;

  --shadow-s: rgba(145,106,112,0.15) 0 6px 24px;
  --shadow-h: rgba(145,106,112,0.5) 0 6px 24px;

  --_font-size: 0;
  --_base-font-size: 16;
  --_harmonic-sequence-base: 8;
  --_min-harmonic-sequence-base: 9;
  --_max-harmonic-sequence-base: var(--_harmonic-sequence-base);
  --_half-leading: .3;
  --_font-family: sans-serif;
  --_global--box-shadow: 0 5px 20px -5px rgba(0,0,0,.2);
  --_global--border-radius: 4px;
  --_global--gap: var(--_s2);
  --_global--text-gap: var(--_s1);
  --_global--gutters: max(min(6vw,var(--_rem2)),env(safe-area-inset-right),env(safe-area-inset-left));
  --_ms-2: calc(calc((clamp(1.1, calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1)) * var(--_fluid-font-size-magnification, calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--_font-size)))) + calc(calc(1 + 2 * var(--_half-leading)) + -1 * calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1))), calc(1 + 2 * var(--_half-leading)))) / 3) * 1);
  --_ms-1: calc(calc((clamp(1.1, calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1)) * var(--_fluid-font-size-magnification, calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--_font-size)))) + calc(calc(1 + 2 * var(--_half-leading)) + -1 * calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1))), calc(1 + 2 * var(--_half-leading)))) / 3) * 2);
  --_ms0: 0;
  --_ms1: calc(calc((clamp(1.1, calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1)) * var(--_fluid-font-size-magnification, calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--_font-size)))) + calc(calc(1 + 2 * var(--_half-leading)) + -1 * calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1))), calc(1 + 2 * var(--_half-leading)))) / 3) * 3);
  --_ms2: calc(calc((clamp(1.1, calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1)) * var(--_fluid-font-size-magnification, calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--_font-size)))) + calc(calc(1 + 2 * var(--_half-leading)) + -1 * calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1))), calc(1 + 2 * var(--_half-leading)))) / 3) * 5);
  --_ms3: calc(calc((clamp(1.1, calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1)) * var(--_fluid-font-size-magnification, calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--_font-size)))) + calc(calc(1 + 2 * var(--_half-leading)) + -1 * calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1))), calc(1 + 2 * var(--_half-leading)))) / 3) * 8);
  --_ms4: calc(calc((clamp(1.1, calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1)) * var(--_fluid-font-size-magnification, calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--_font-size)))) + calc(calc(1 + 2 * var(--_half-leading)) + -1 * calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1))), calc(1 + 2 * var(--_half-leading)))) / 3) * 13);
  --_ms5: calc(calc((clamp(1.1, calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1)) * var(--_fluid-font-size-magnification, calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--_font-size)))) + calc(calc(1 + 2 * var(--_half-leading)) + -1 * calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1))), calc(1 + 2 * var(--_half-leading)))) / 3) * 21);
  --_ms6: calc(calc((clamp(1.1, calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1)) * var(--_fluid-font-size-magnification, calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--_font-size)))) + calc(calc(1 + 2 * var(--_half-leading)) + -1 * calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1))), calc(1 + 2 * var(--_half-leading)))) / 3) * 34);
  --_ms7: calc(calc((clamp(1.1, calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1)) * var(--_fluid-font-size-magnification, calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--_font-size)))) + calc(calc(1 + 2 * var(--_half-leading)) + -1 * calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1))), calc(1 + 2 * var(--_half-leading)))) / 3) * 55);
  --_em-2: calc(1em * var(--_ms-2));
  --_em-1: calc(1em * var(--_ms-1));
  --_em0: 0em;
  --_em1: calc(1em * var(--_ms1));
  --_em2: calc(1em * var(--_ms2));
  --_em3: calc(1em * var(--_ms3));
  --_em4: calc(1em * var(--_ms4));
  --_em5: calc(1em * var(--_ms5));
  --_em6: calc(1em * var(--_ms6));
  --_em7: calc(1em * var(--_ms7));
  --_rem-2: calc(1rem * var(--_ms-2));
  --_rem-1: calc(1rem * var(--_ms-1));
  --_rem0: 0rem;
  --_rem1: calc(1rem * var(--_ms1));
  --_rem2: calc(1rem * var(--_ms2));
  --_rem3: calc(1rem * var(--_ms3));
  --_rem4: calc(1rem * var(--_ms4));
  --_rem5: calc(1rem * var(--_ms5));
  --_rem6: calc(1rem * var(--_ms6));
  --_rem7: calc(1rem * var(--_ms7));
  --_s-2: var(--_em-2);
  --_s-1: var(--_em-1);
  --_s0: var(--_em0);
  --_s1: var(--_em1);
  --_s2: clamp(calc(var(--_ms1) + var(--_ms2) * 0.28125) * 1em,calc(calc(-22.5 * calc((var(--_ms2) - calc(var(--_ms1) + var(--_ms2) * 0.28125)) / (57.5)) + calc(var(--_ms1) + var(--_ms2) * 0.28125)) * 1em + calc((var(--_ms2) - calc(var(--_ms1) + var(--_ms2) * 0.28125)) / (57.5)) * 100vw),var(--_ms2) * 1em);
  --_s3: clamp(calc(var(--_ms1) + var(--_ms3) * 0.28125) * 1em,calc(calc(-22.5 * calc((var(--_ms3) - calc(var(--_ms1) + var(--_ms3) * 0.28125)) / (57.5)) + calc(var(--_ms1) + var(--_ms3) * 0.28125)) * 1em + calc((var(--_ms3) - calc(var(--_ms1) + var(--_ms3) * 0.28125)) / (57.5)) * 100vw),var(--_ms3) * 1em);
  --_s4: clamp(calc(var(--_ms1) + var(--_ms4) * 0.28125) * 1em,calc(calc(-22.5 * calc((var(--_ms4) - calc(var(--_ms1) + var(--_ms4) * 0.28125)) / (57.5)) + calc(var(--_ms1) + var(--_ms4) * 0.28125)) * 1em + calc((var(--_ms4) - calc(var(--_ms1) + var(--_ms4) * 0.28125)) / (57.5)) * 100vw),var(--_ms4) * 1em);
  --_s5: clamp(calc(var(--_ms1) + var(--_ms5) * 0.28125) * 1em,calc(calc(-22.5 * calc((var(--_ms5) - calc(var(--_ms1) + var(--_ms5) * 0.28125)) / (57.5)) + calc(var(--_ms1) + var(--_ms5) * 0.28125)) * 1em + calc((var(--_ms5) - calc(var(--_ms1) + var(--_ms5) * 0.28125)) / (57.5)) * 100vw),var(--_ms5) * 1em);
  --_s6: clamp(calc(var(--_ms1) + var(--_ms6) * 0.28125) * 1em,calc(calc(-22.5 * calc((var(--_ms6) - calc(var(--_ms1) + var(--_ms6) * 0.28125)) / (57.5)) + calc(var(--_ms1) + var(--_ms6) * 0.28125)) * 1em + calc((var(--_ms6) - calc(var(--_ms1) + var(--_ms6) * 0.28125)) / (57.5)) * 100vw),var(--_ms6) * 1em);
  --_s7: clamp(calc(var(--_ms1) + var(--_ms7) * 0.28125) * 1em,calc(calc(-22.5 * calc((var(--_ms7) - calc(var(--_ms1) + var(--_ms7) * 0.28125)) / (57.5)) + calc(var(--_ms1) + var(--_ms7) * 0.28125)) * 1em + calc((var(--_ms7) - calc(var(--_ms1) + var(--_ms7) * 0.28125)) / (57.5)) * 100vw),var(--_ms7) * 1em);
  --_p-2: var(--_em-2);
  --_p-1: var(--_em-1);
  --_p0: var(--_em0);
  --_p1: var(--_em1);
  --_p2: clamp(calc(var(--_ms1) + var(--_ms2) * 0.28125 * 0.2) * 1em,calc(calc(-22.5 * calc((var(--_ms2) - calc(var(--_ms1) + var(--_ms2) * 0.28125 * 0.2)) / (57.5)) + calc(var(--_ms1) + var(--_ms2) * 0.28125 * 0.2)) * 1em + calc((var(--_ms2) - calc(var(--_ms1) + var(--_ms2) * 0.28125 * 0.2)) / (57.5)) * 100vw),var(--_ms2) * 1em);
  --_p3: clamp(calc(var(--_ms1) + var(--_ms3) * 0.28125 * 0.2) * 1em,calc(calc(-22.5 * calc((var(--_ms3) - calc(var(--_ms1) + var(--_ms3) * 0.28125 * 0.2)) / (57.5)) + calc(var(--_ms1) + var(--_ms3) * 0.28125 * 0.2)) * 1em + calc((var(--_ms3) - calc(var(--_ms1) + var(--_ms3) * 0.28125 * 0.2)) / (57.5)) * 100vw),var(--_ms3) * 1em);
  --_p4: clamp(calc(var(--_ms1) + var(--_ms4) * 0.28125 * 0.2) * 1em,calc(calc(-22.5 * calc((var(--_ms4) - calc(var(--_ms1) + var(--_ms4) * 0.28125 * 0.2)) / (57.5)) + calc(var(--_ms1) + var(--_ms4) * 0.28125 * 0.2)) * 1em + calc((var(--_ms4) - calc(var(--_ms1) + var(--_ms4) * 0.28125 * 0.2)) / (57.5)) * 100vw),var(--_ms4) * 1em);
  --_p5: clamp(calc(var(--_ms1) + var(--_ms5) * 0.28125 * 0.2) * 1em,calc(calc(-22.5 * calc((var(--_ms5) - calc(var(--_ms1) + var(--_ms5) * 0.28125 * 0.2)) / (57.5)) + calc(var(--_ms1) + var(--_ms5) * 0.28125 * 0.2)) * 1em + calc((var(--_ms5) - calc(var(--_ms1) + var(--_ms5) * 0.28125 * 0.2)) / (57.5)) * 100vw),var(--_ms5) * 1em);
  --_p6: clamp(calc(var(--_ms1) + var(--_ms6) * 0.28125 * 0.2) * 1em,calc(calc(-22.5 * calc((var(--_ms6) - calc(var(--_ms1) + var(--_ms6) * 0.28125 * 0.2)) / (57.5)) + calc(var(--_ms1) + var(--_ms6) * 0.28125 * 0.2)) * 1em + calc((var(--_ms6) - calc(var(--_ms1) + var(--_ms6) * 0.28125 * 0.2)) / (57.5)) * 100vw),var(--_ms6) * 1em);
  --_p7: clamp(calc(var(--_ms1) + var(--_ms7) * 0.28125 * 0.2) * 1em,calc(calc(-22.5 * calc((var(--_ms7) - calc(var(--_ms1) + var(--_ms7) * 0.28125 * 0.2)) / (57.5)) + calc(var(--_ms1) + var(--_ms7) * 0.28125 * 0.2)) * 1em + calc((var(--_ms7) - calc(var(--_ms1) + var(--_ms7) * 0.28125 * 0.2)) / (57.5)) * 100vw),var(--_ms7) * 1em);
  --_container-max-width: 960px;
  --_grid-columns: 12;
  --_grid-rows: 7;
  --_grid-gap: var(--_global--gap);
  --__pg-base: calc((100% - var(--_grid-gap) * (var(--_grid-columns) - 1)) / var(--_grid-columns));
  --_pg0: 0%;
  --_pg1: calc(var(--__pg-base) * 1 + var(--_grid-gap) * 0);
  --_pg2: calc(var(--__pg-base) * 2 + var(--_grid-gap) * 1);
  --_pg3: calc(var(--__pg-base) * 3 + var(--_grid-gap) * 2);
  --_pg4: calc(var(--__pg-base) * 4 + var(--_grid-gap) * 3);
  --_pg5: calc(var(--__pg-base) * 5 + var(--_grid-gap) * 4);
  --_pg6: calc(var(--__pg-base) * 6 + var(--_grid-gap) * 5);
  --_pg7: calc(var(--__pg-base) * 7 + var(--_grid-gap) * 6);
  --_pg8: calc(var(--__pg-base) * 8 + var(--_grid-gap) * 7);
  --_pg9: calc(var(--__pg-base) * 9 + var(--_grid-gap) * 8);
  --_pg10: calc(var(--__pg-base) * 10 + var(--_grid-gap) * 9);
  --_pg11: calc(var(--__pg-base) * 11 + var(--_grid-gap) * 10);
  --_pg12: calc(var(--__pg-base) * 12 + var(--_grid-gap) * 11);
  --__cg-base: calc((var(--_container-max-width) - var(--_grid-gap) * (var(--_grid-columns) - 1)) / var(--_grid-columns));
  --_cg0: 0%;
  --_cg1: calc(var(--__cg-base) * 1 + var(--_grid-gap) * 0);
  --_cg2: calc(var(--__cg-base) * 2 + var(--_grid-gap) * 1);
  --_cg3: calc(var(--__cg-base) * 3 + var(--_grid-gap) * 2);
  --_cg4: calc(var(--__cg-base) * 4 + var(--_grid-gap) * 3);
  --_cg5: calc(var(--__cg-base) * 5 + var(--_grid-gap) * 4);
  --_cg6: calc(var(--__cg-base) * 6 + var(--_grid-gap) * 5);
  --_cg7: calc(var(--__cg-base) * 7 + var(--_grid-gap) * 6);
  --_cg8: calc(var(--__cg-base) * 8 + var(--_grid-gap) * 7);
  --_cg9: calc(var(--__cg-base) * 9 + var(--_grid-gap) * 8);
  --_cg10: calc(var(--__cg-base) * 10 + var(--_grid-gap) * 9);
  --_cg11: calc(var(--__cg-base) * 11 + var(--_grid-gap) * 10);
  --_cg12: calc(var(--__cg-base) * 12 + var(--_grid-gap) * 11);
  
  --_gutters: max(min(6vw,var(--_rem2)),env(safe-area-inset-right),env(safe-area-inset-left));
}

* {
  --_font-size: calc(var(--_harmonic-sequence-base)/(var(--_harmonic-sequence-base) - var(--_font-size-level))*1rem);
  --_line-height: clamp(1.1,calc(var(--_line-height-slope)*var(--_harmonic-sequence-base)/(var(--_harmonic-sequence-base) - var(--_font-size-level)) + 1 + var(--_half-leading)*2 + var(--_line-height-slope)*-1),calc(var(--_half-leading)*2 + 1));
  --_fluid-font-size: clamp(1rem * calc(var(--_min-harmonic-sequence-base)/(var(--_min-harmonic-sequence-base) - var(--_font-size-level))),calc((var(--_max-harmonic-sequence-base)/(var(--_max-harmonic-sequence-base) - var(--_font-size-level))/57.5*-22.5 - var(--_min-harmonic-sequence-base)/(var(--_min-harmonic-sequence-base) - var(--_font-size-level))/57.5*-22.5 + var(--_min-harmonic-sequence-base)/(var(--_min-harmonic-sequence-base) - var(--_font-size-level)))*1rem + (var(--_max-harmonic-sequence-base)/(var(--_max-harmonic-sequence-base) - var(--_font-size-level))/57.5 - var(--_min-harmonic-sequence-base)/(var(--_min-harmonic-sequence-base) - var(--_font-size-level))/57.5)*100vw),1rem * calc(var(--_max-harmonic-sequence-base)/(var(--_max-harmonic-sequence-base) - var(--_font-size-level))));
  box-sizing: border-box;
}

html {
  font-size: calc(var(--_base-font-size) * 1px);
}

body {
  margin: initial;
  color: var(--pri-c);
  background-color: var(--sec-c)
}
h1 {
  margin: 0;
}
input {
  border-color: var(--pri-c);
  font-size: .8125rem;
  padding: var(--_p-2) var(--_p-1);
  border-radius: var(--radius-s);
}
button {
  background-color: var(--pri-c);
  color: var(--white-c);
  border: none;
  font-size: .8125rem;
  padding: var(--_p-2) var(--_p2);
  font-weight: 900;
  line-height: 1;
  border-radius: var(--radius-s);
  transition: .4s var(--easing-b);
}
@media screen and (max-width: 639px) {
  button {
    padding: var(--_p-2) var(--_p-1);
  }
}
button:hover {
  background-color: var(--pri-c--hov);
  transition: .2s var(--easing-b);
  cursor: pointer;
}
button:disabled {
  background-color: var(--pri-c);
  cursor:not-allowed;
}
ul {
  padding-left: 0;
  list-style-type: none;
  margin: initial;
  display: flex;
  flex-direction: column;
  gap: calc(var(--_global--gap)*.5);
}
ul>li {
  position: relative;
  padding-left: var(--_p-2);
}
ul>li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: var(--pri-c);
}

.has-xs-font-size {
  --font-size: -2!important;
  --preset--font-size--xs: calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--font-size)) * 1rem);
  font-size: var(--preset--font-size--xs) !important;
}
.has-xs-font-size[data-layout~=-fluid-typography] {
  --preset--font-size--xs: clamp(1rem * calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size))),calc(calc(-22.5 * calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) + calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) * 1rem + calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) * 100vw),1rem * calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))))!important
}
.has-s-font-size {
  --font-size: -1!important;
  --preset--font-size--s: calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--font-size)) * 1rem);
  font-size: var(--preset--font-size--s) !important;
}
.has-s-font-size[data-layout~=-fluid-typography] {
  --preset--font-size--s: clamp(1rem * calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size))),calc(calc(-22.5 * calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) + calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) * 1rem + calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) * 100vw),1rem * calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))))!important
}
.has-m-font-size {
  --font-size: 0!important;
  --preset--font-size--m: calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--font-size)) * 1rem);
  font-size: var(--preset--font-size--m) !important;
}
.has-m-font-size[data-layout~=-fluid-typography] {
  --preset--font-size--m: clamp(1rem * calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size))),calc(calc(-22.5 * calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) + calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) * 1rem + calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) * 100vw),1rem * calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))))!important
}
.has-l-font-size {
  --font-size: 1!important;
  --preset--font-size--l: calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--font-size)) * 1rem);
  font-size: var(--preset--font-size--l) !important;
}
.has-l-font-size[data-layout~=-fluid-typography] {
  --preset--font-size--l: clamp(1rem * calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size))),calc(calc(-22.5 * calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) + calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) * 1rem + calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) * 100vw),1rem * calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))))!important
}
.has-xl-font-size {
  --font-size: 2!important;
  --preset--font-size--xl: calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--font-size)) * 1rem);
  font-size: var(--preset--font-size--xl) !important;
}
.has-xl-font-size[data-layout~=-fluid-typography] {
  --preset--font-size--xl: clamp(1rem * calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size))),calc(calc(-22.5 * calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) + calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) * 1rem + calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) * 100vw),1rem * calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))))!important
}
.has-2-xl-font-size {
  --font-size: 3!important;
  --preset--font-size--2-xl: calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--font-size)) * 1rem);
  font-size: var(--preset--font-size--2-xl) !important;
}
.has-2-xl-font-size[data-layout~=-fluid-typography] {
  --preset--font-size--2-xl: clamp(1rem * calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size))),calc(calc(-22.5 * calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) + calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) * 1rem + calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) * 100vw),1rem * calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))))!important
}
.has-3-xl-font-size {
  --font-size: 4!important;
  --preset--font-size--3-xl: calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--font-size)) * 1rem);
  font-size: var(--preset--font-size--3-xl) !important;
}
.has-3-xl-font-size[data-layout~=-fluid-typography] {
  --preset--font-size--3-xl: clamp(1rem * calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size))),calc(calc(-22.5 * calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) + calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) * 1rem + calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) * 100vw),1rem * calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))))!important
}
.has-4-xl-font-size {
  --font-size: 5!important;
  --preset--font-size--4-xl: calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--font-size)) * 1rem);
  font-size: var(--preset--font-size--4-xl) !important;
}
.has-4-xl-font-size[data-layout~=-fluid-typography] {
  --preset--font-size--4-xl: clamp(1rem * calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size))),calc(calc(-22.5 * calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) + calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) * 1rem + calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) * 100vw),1rem * calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))))!important
}
.has-5-xl-font-size {
  --font-size: 6!important;
  --preset--font-size--5-xl: calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--font-size)) * 1rem);
  font-size: var(--preset--font-size--5-xl) !important;
}
.has-5-xl-font-size[data-layout~=-fluid-typography] {
  --preset--font-size--5-xl: clamp(1rem * calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size))),calc(calc(-22.5 * calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) + calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) * 1rem + calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) * 100vw),1rem * calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))))!important
}
.has-6-xl-font-size {
  --font-size: 7!important;
  --preset--font-size--6-xl: calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--font-size)) * 1rem);
  font-size: var(--preset--font-size--6-xl) !important;
}
.has-6-xl-font-size[data-layout~=-fluid-typography] {
  --preset--font-size--6-xl: clamp(1rem * calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size))),calc(calc(-22.5 * calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) + calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) * 1rem + calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) * 100vw),1rem * calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))))!important
}

.msg-caution {
  border-radius: var(--radius-m);
  padding: var(--_p1);
  color: var(--caution-c);
  background-color: var(--caution-c-bg);
  font-weight: bold;
}

.c-container {
  max-width: var(--_container-max-width);
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: var(--_gutters);
  padding-right: var(--_gutters);
  padding-top: var(--_p3);
  padding-bottom: var(--_p3);
}
@media screen and (max-width: 639px) {
  .c-container {
    padding-top: var(--_p2);
    padding-bottom: var(--_p2);
  }
}
.c-container>:not(:first-child) {
  margin-top: var(--_p2);
}
.c-content--inner {
  display: flex;
  flex-direction: column;
  gap: var(--_global--gap);
}
.c-box {
  box-shadow: var(--shadow-s)
}
.c-box>:not(:first-child) {
  margin-top: var(--_p1);
}
/* @media (max-width: 639px) {
  .c-box>:not(:first-child) {
      margin-top: var(--_p-1);
  }
} */
.c-box h2 {
  line-height: 1;
  margin: 0;
}
.c-search {
  display: flex;
  gap: calc(var(--_global--gap)*.25);
}
.c-search input {
  flex: 1 1 auto;
}
.c-search button {
  flex: 0 1 100px;
}

.todo-item--list {
  border-radius: var(--radius-s);
  transition: .4s var(--easing-b);
}
.todo-item--list:hover {
  background-color: var(--white-c--hov);
  transition: .2s var(--easing-b);
}
.todo-item__id {
  background-color: var(--pri-c);
  color: var(--white-c);
}
.todo-item--list-row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 100%;
  gap: calc(var(--_global--gap)*.5);
  padding: var(--_p-2);
}
.todo-item--list-row>.todo-item--header {
  flex: 1 1 200px;
  margin: 0;
  word-break: break-all;
}
.todo-item--list-row>.todo-item--header>.todo-item__id {
  font-size: .625em;
  padding: calc(var(--_p-2)*.5);
  border-radius: var(--radius-s);
  display: inline-block;
}
.todo-item--list-row>.todo-item--btns {
  flex: 0 0 auto;
  display: flex;
  gap: calc(var(--_global--gap)*.25);
  flex-wrap: nowrap;
}
@media screen and (max-width: 639px) {
  .todo-item--list-row>.todo-item--btns {
    flex-direction: column;
  }
}